<div class="cont-left">
  <div class="title">
    <h2>
      <div class="logo">
        <div class="sena">{{sena}}</div> / <div class="soft">{{soft}}</div>
      </div>
    </h2>
  </div>
  <div class="content">
    <form action="" name="azure-imagen" id="azure-imagen" (ngSubmit)="onSubmit()">

      <label for="img">SUBIR IMAGEN
      </label>
      <input accept="image/png,image/jpeg" type="file" name="img" id="img" (change)="onFileSelected($event)">

      <button type="submit" class="send">
        <span class="material-symbols-outlined">
          send
        </span>
      </button>

    </form>
  </div>
</div>

<div class="cont-rigt">
  <div class="title">
    <div>
      <h2>SENASOFT - INTELIGENCIA ARTIFICIAL</h2>
    </div>
  </div>
  <div class="content">
    <div *ngIf="imageSelected">
      <img [src]="selectedFile ? selectedFile : ''" alt="Imagen seleccionada">
    </div>
    <div id="resultado" style="color:#fff"></div>
  </div>
</div>